@import '../constants/variables';
@import '~foundation-sites/scss/foundation';
@import './foundation-resets';

@include foundation-everything(true);
@include foundation-flex-classes;
@include foundation-flex-grid;


body {
  background-color:$background-color;
  font-family: $font-face-sansserif;
  font-size: $font-base-size;

  border:0;
}


a {
  color:inherit;

  &:hover, &:visited {
    color:inherit;
  }
}


