@import '../../constants/constants';

.Vote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right:20px;

  .Vote__CurrentScore {
    color:$nav-color-dark;
    font-size:$font-base-size * 1.1;
    width:25px;
    text-align:center;
  }

  .Vote__VoteButton--Up, .Vote__VoteButton--Down {
    width:25px;
    height:25px;
  }

  .Vote__VoteButton--Up {
    background-image:url('../../graphics/icon-upvote.svg');
  }

  .Vote__VoteButton--Down {
    background-image:url('../../graphics/icon-downvote.svg');
  }
}
