@import './variables';

@mixin formField() {
  position: relative;
  background-color: $white;
  font-family: $font-face-sansserif;
  display: block;
  border-radius: 3px;
  padding: 0.9em 5px;
  margin: 0.2em 0;
  outline: 0;
  transition: all 0.2s;

  &:before {
    color: $nav-color-light;
    text-transform: uppercase;
    position: absolute;
    left: 5px;
    top: 0px;
    font-size: $font-base-size * 0.8;
    font-weight: 600;
    font-family: $font-face-sansserif;
    transition: all 0.2s;
  }

  &:empty {
    &:before {
      top: 10px;
      font-size: $font-base-size * 1.1;
    }
  }

  &:focus {
    &:before {
      top: 0px;
      font-size: $font-base-size * 0.8;
    }
  }
}

@mixin submitButton(){
  background-color: $nav-color-dark;
  color:#ffffff;
  font-size:$font-base-size*1.3;
  font-weight:600;
  border:0;
  padding:0.3em;
}