@import 'constants';

@mixin formField() {
  position: relative;
  background-color: $white;
  font-family: $font-face-sansserif;
  font-size:$font-base-size * 1.3;
  font-weight:400;
  display: block;
  border: 1px solid #cacaca;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  width:100%;
  border-radius: 3px;
  padding: 1em 5px 0.5em 5px;
  outline: 0;
  transition: all 0.2s;
  height:auto;
  margin: 0 0 1rem;
}

@mixin inputWrapper($blurAndEmpty){
    position:relative;

    &:before {
      position: absolute;
      top:0;
      left:0;
      color: $nav-color-dark;
      z-index:5;
      text-transform:uppercase;
      pointer-events: none;
      margin-left:0.2em;
      transition: all 0.2s;

      @if($blurAndEmpty == false){
        padding:0.2em 0 0 0.3em;
        font-size: $font-base-size * 1;
      }

      @if($blurAndEmpty == true){
        padding: .7em .6em .6em .2em;
        font-size: $font-base-size * 1.2;
      }
    }
}

@mixin submitButton(){
  background-color: $nav-color-dark;
  color:#ffffff;
  font-size:$font-base-size*1.3;
  font-weight:600;
  border:0;
  padding:0.6em;
}
