
$background-color:#FFFCF8;
$background-color-dark:#454545;
$text-color:#454545;
$text-color-negative:#ffffff;
$nav-color-light:#EDAC54;
$nav-color-dark:#D97D00;

/* Typography and font settings */
$font-face-sansserif: Muli, Arial, sans-serif;
$font-face-serif:'Cormorant Garamond','Times New Roman',Times, serif;
$font-base-size:14px;
