@import '../../constants/variables';

.CategoryListItem {
  color:$nav-color-dark;
  font-size:$font-base-size * 1.5;
  background-image:url('../../graphics/icon-category.svg');
  background-repeat:no-repeat;
  padding-left:40px;
  margin:10px 0;
}