@import '../../constants/forms';

.CommentForm {
  display:flex;
  flex-direction:column;
  padding:1em;

  input, textarea {
    @include formField;
  }

  input.Comment__Submit {
    @include submitButton;
  }

  input.Comment__Submit--disabled {
    background-color: $dark-gray;
    color:$light-gray;
  }

  .Comment__Date {
    color: $nav-color-dark;
    font-weight: 300;
    font-size: $font-base-size * 1.2;
    margin:0;
  }

  .Comment__Body {
    height:150px;
  }

  .Input__Wrapper {
    @include inputWrapper(false);
  }

  .Input__Wrapper--blurandempty {
    @include inputWrapper(true);
  }

  .Input__Wrapper__Author {
    &:before {
      content:'Author';
    }
  }

  .Input__Wrapper__Body {
    &:before {
      content:'Body';
    }
  }
}