@import '../../constants/constants';

.PostListItem {

  padding: 2em;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);

  @media screen and (max-width: $grid-large) {
    margin: 0.4em 0;
  }

  @media screen and (min-width: $grid-large) {
    margin: 1.2em 0;
  }

  .PostListItem__Category {
    text-transform:uppercase;
    color:$nav-color-dark;
    font-weight:bold;
    float:left;
    margin-right:5px;
  }
  .PostListItem__Date {
    float:left;
    color:$text-color-light;
  }
  .PostListItem__Title {
    display:block;
    clear:both;
    font-size:$font-base-size * 1.3;
  }
  .PostListItem__Author {
    color:$text-color-light;
  }
}
