@import '../../constants/forms';

.Add__Post{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color: $nav-color-dark;
  color:$white;

  a {
    @include submitButton;
    display:flex;
    flex-grow:1;
    justify-content:center;
  }
}
