@import '../../constants/forms';

@import '../../../node_modules/react-dates/lib/css/_datepicker.css';

.PostForm {
  display:flex;
  flex-direction:column;
  padding:1em;

  input:not(.DateInput_input), textarea {
      @include formField;
  }

  input.Post__Submit {
    @include submitButton;
  }

  input.Post__Submit--disabled {
    background-color: $dark-gray;
    color:$light-gray;
  }

  .Input__Wrapper {
    @include inputWrapper(false);
  }

  .Input__Wrapper--blurandempty {
    @include inputWrapper(true);
  }

  .Input__Wrapper__Title {
    &:before {
      content:'Title';
    }
  }

  .Input__Wrapper__Author {
    &:before {
      content:'Title';
    }
  }

  .Input__Wrapper__Body {
    &:before {
      content:'Body';
    }
  }

  .Post__Category {
    margin-bottom:1.5em;
    z-index:1999;

    .Select-control{
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
      height:46px;

      .Select-placeholder, .Select-value-label {
        line-height:44px;
        font-size:$font-base-size * 1.2;
        font-family: $font-face-sansserif;
      }

      .Select-placeholder {
        color:$nav-color-dark;
        padding-left:0.8em;
      }
    }
  }

  .SingleDatePicker {
    z-index:1999;
    .SingleDatePickerInput {
      border:0;
    }
    .DateInput {
      padding:0;
      width:100%;
    }
    .DateInput_input {
      z-index:2;
    }
    .DateInput_displayText__focused {
      color:$nav-color-dark;
    }
    .DateInput_displayText {
      position: relative;
      background-color: #FFFFFF;
      font-family: Muli, Arial, sans-serif;
      font-size: 18.2px;
      font-weight: 400;
      display: block;
      border: 1px solid #cacaca;
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
      width: 100%;
      border-radius: 3px;
      padding: 0.8em 5px 0.8em 5px;
      outline: 0;
      transition: all 0.2s;
      height: auto;
      margin: 0 0 1rem;
    }
  }

  .Post__Body {
    height:400px;
  }

  .Input__Wrapper {
    @include inputWrapper(false);
  }

  .Input__Wrapper--blurandempty {
    @include inputWrapper(true);
  }

  .Input__Wrapper__Author {
    &:before {
      content:'Author';
    }
  }

  .Input__Wrapper__Body {
    &:before {
      content:'Body';
    }
  }
}
