@import '../../constants/constants';

.CommentList {

  .CommentList__Emptytext {
    text-align: center;
    color:$nav-color-dark;
    font-size:$font-base-size * 1.5;
  }

  .Comments__AddComments {
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    margin:0.6em 0.4em;
    padding:0.6em 0.4em;
  }
}
